#title{
  font:bold 48pt "Trebuchet MS";
  text-align: center;
  color: #738195;
  letter-spacing: -2px;
}
#title span{
  font-weight: normal;
  color: #BBB;
}

#tags{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #CCC inset;
  padding: 10px;
  width: 50%;
  background: #0abca2;
  margin: auto;
}

.tag{
  display: inline-block;
  background: #738195;
  color: #FFF;
  padding: 5px 10px;
  margin:2px 2px 2px 0px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow:1px 1px 0 rgba(0,0,0,.2);
  -webkit-transform-origin:0% 50%;
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s ;
}
