---
layout: default
---
<div id="main">
  <article class="post">
      <div id="main">
          <article class="post">
        <div class="title">
          <h2>{{ page.title }}</h2>
          {{ page.date | date: "%-d %B %Y" }}
          <br />
          {% for tag in page.tags %}
          <span class="tag"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }}</span>
          {% endfor %}
          <br /><br />
        </div>
        {{ content }}
      </div>
      <div class="meta">
        <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
      </div>
      <div class="meta">
        <a name="lnnetwork"></a>
        Like this post? Send us a little tip with <strong><a onclick="toggleLNPay();  ">crypto or lightning ⚡️</a></strong> (what is <a href="http://lightning.network/" target="lninfo">lightning ⚡️</a>?)
        <div id="lnpay" style="visibility: hidden; ">
          <div id="lnapp">
            <input id="amountinput" v-model="amount" placeholder="Tip USD amount"  style="visibility: hidden; " />
            <input id="fiatcode" name="fiatcode" placeholder="Currency" value="USD" style="visibility: hidden; " />
            <p>
              Press a button which applies. micro (1 cent) / small (3 bucks) / generous (10 bucks)/ baller (25 bucks)
            </p>
            <div id="buttons">
              <button id="like-button" v-on:click='document.getElementById("amountinput").value = "0.01"; lnapp.generateInvoice();'>👍</button>
              <button id="coffee-button" onClick='document.getElementById("amountinput").value = "3.50"; lnapp.generateInvoice();'>☕️ </button>
              <button id="beer-button" onClick='document.getElementById("amountinput").value = "10"; lnapp.generateInvoice();'>🍺</button>
              <button id="love-button" onClick='document.getElementById("amountinput").value = "25"; lnapp.generateInvoice();'>🥩</button>
              <input id="descriptionform" type="hidden" value="Tip for post '{{ page.title }}'" />
            </div>
            <button id="submitbutton" v-on:click="generateInvoice" style="visibility: hidden; ">Send tip using ⚡️ lightning or another crypto</button>
            <div id="result">
            </div>
          </div>
        </div>
      </div>
  </article>
  <div id="disqus_thread"></div>
</div>


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'itinerantfoodie';
    var disqus_url = document.baseURI;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91171530-1', 'auto');
  ga('send', 'pageview');

</script>
